// App configuration
PORT=5000
HOST=localhost
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

// Provider configuration
// Database configuration
MONGODB_URI=mongodb://127.0.0.1:27017/DesiStorage
REDIS_URL=redis://localhost:6379

// Cloudinary configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

// Resend configuration
RESEND_API_KEY=your_resend_api_key_here

// Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id_here

// Hashing secrets

COOKIE_SECRET=your_cookie_secret_here
RESET_PASSWORD_SECRET=your_reset_password_secret_here